<div class="card">
    <img class="card-img-top" src="../../assets/images/th (1).jpg">
    <div class="card-body">
        <h1 class="card-title"><b>Customer Details</b></h1>
        <p class="cart-text"><b>Name Of Customer: {{customerDetails[0].Name}}</b></p>
        <p class="cart-text"><b>Id Of Customer: {{customerDetails[0].Id}}</b></p>
        <p class="cart-text"><b>Type Of Account: {{customerDetails[0].Type}}</b></p>
        <p class="cart-text"><b>AccountNumber Of Customer: {{customerDetails[0].AccountNumber}}</b></p>
        <p class="cart-text"><b>Branch Of Customer: {{customerDetails[0].Branch}}</b></p>
        <p class="cart-text"><b>IFSCCode Of Customer: {{customerDetails[0].IFSCCode}}</b></p><br>
        <button type="button" class="btn btn-success" (click)="backToPage()">Back</button>



    </div>

</div>